{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">{{outcome}}</h1>
    <h1 style="text-align: center">Want to try again?</h1>

</div>
    <div class="form">
        <form action="/" method="GET">
                    <button style="position:relative;left:640px;background-color:#daeff1;border-color:#0df0fc;border-radius:10;border: 1px solid">
            Start Again!
        </button>
        </form>
            </div>

{% endblock %}